.container {
  width: 300px;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
  /* gap: 10px; */
}

.homeButton {
  padding: 15px 25px;
}
