* {
  box-sizing: border-box;
}

/* OpenDyslexic Regular */
@font-face {
  font-family: "OpenDyslexic";
  src: url("fonts/open_dyslexic/OpenDyslexic-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

html {
  font-family: "OpenDyslexic", sans-serif;
}

body {
  margin: 0;
  background-color: rgba(0, 0, 0, 0.8);
  text-align: center;
}
